/* style.css */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #f1f1f1;
  position: relative;
  font-family: sans-serif;
}

a {
  color: #4196bf;
}

canvas {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

main {
  width: 60%;
  margin-left: 200px;
  min-width: 400px;
  max-width: 600px;
  margin-top: 3.2rem;
}

section {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

section .cover {
  width: 30%;
}

section .cover img {
  width: 100%;
}

section .desc {
  width: 65%;
  margin-left: 5%;
}

section .desc h2,
section .desc p {
  margin: 0;
}

section .desc h2 {
  font-size: 0.9rem;
  text-overflow: ellipsis;
  margin-bottom: 1.6rem;
}

section .desc p {
  font-size: 0.9rem;
  margin: 0;
}
