/* style.css */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #fff;
  position: relative;
}

canvas {
  cursor: grab;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

canvas:active {
  cursor: grabbing;
}
